.post-map {
    width: 97%;
    height: 100px;
    background-color: rgb(95, 95, 95);
    margin-left: 100px;
    display: flex;
    margin:20px;
    justify-content: center;
    align-items: center;
}
.the-img {
    width: 100px;
}
.all-posts {
    position: relative;
    left: 10%;
    width: 80%;
    padding: 5px;
    background-color: black;
}